body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




@tailwind base;
@tailwind components;
@tailwind utilities;

.desktop-view { display: block; }
.mobile-view { display: none; }

@media (max-width: 768px) {
  .desktop-view { display: none; }
  .mobile-view { display: flex; }
}



@media (max-width: 768px) {
  div[style*="background-color: #2c3e50"] {
    margin-left: 3%;
    margin-right: 3%;
  }

  div[style*="max-width: 75%"] {
    max-width: 100% !important;
    padding: 0 1rem !important;
    flex-direction: column !important; /* ✅ Stack items vertically */
    align-items: center !important;
    text-align: center;
  }

  div[style*="font-size: 20px"] {
    font-size: 18px !important;
    justify-content: center !important;
  }


    
      @media (max-width: 1600px) {
  #blog-section > div {
    max-width: 85% !important;
    padding: 0 3% !important;
  }
}

@media (max-width: 1024px) {
  #blog-section > div {
    max-width: 90% !important;
    padding: 0 5% !important;
  }
}

    
}
